app-navbar{
    width: 100%;
}

{
    apiKey: "AIzaSyBeXsH_ynhZpm3CKuKmjbQkoggxSIau2sU",
    authDomain: "stores-861f4.firebaseapp.com",
    databaseURL: "https://stores-861f4.firebaseio.com",
    projectId: "stores-861f4",
    storageBucket: "stores-861f4.appspot.com",
    messagingSenderId: "963958194542",
    appId: "1:963958194542:web:241846cb1879997ac4817f"
  };